<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .square-box{
            max-width:600px;
            min-height:600px;
            /* border: 1px solid black; */
            flex-direction: column;
        }
    </style>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-warning text-dark">
    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2F736x%2F3e%2Fd7%2F46%2F3ed746223824126dfe0b3a4a1d6b6599.jpg&tbnid=SOmeZFftRY_F7M&vet=12ahUKEwi92qrx66mCAxXpz6ACHbY-AA0QMygAegQIARAq..i&imgrefurl=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F693061830143145568%2F&docid=a8Vj2XIYgTr6PM&w=626&h=352&q=cardiologist%20picture%20for%20homepage%20black%20and%20yellow&ved=2ahUKEwi92qrx66mCAxXpz6ACHbY-AA0QMygAegQIARAq">
    <div class="container square-box d-flex justify-content-center align-items-center">
        <h1 class="text-center shadow border-2 rounded-2 display-1">WELIVE</h1>
        <br>
        <h3>Welcome to WeLive.</h3>
        <button class="btn btn-dark" type="button" onclick="window.location.href='https://cardio-disease-detection.azurewebsites.net/home'" value="Get Started">Get Started</button>
    </div>
</body>
</html>